#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}

#diiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: auto;
}